.header {
  display: flex;
  margin-top: 1.4rem;
  background-color: #ddaa3b;
  width: 27rem;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-left: 3rem;
  &--icon {
    width: 2.4rem;
    height: 2.4rem;
  }
  &--text {
    margin-left: 0.8rem;
    font-size: 1.6rem;
    align-items: center;
  }
}
