$theme-colors: (
  "primary": #fb5607,
  "dark": #111,
  "danger":#FFF4E6,
);
$card-border-color: rgba(#000, 0.05);

@import "~bootstrap/scss/bootstrap";

.custom-card {
    position: relative;
    margin-bottom: 20px;
    .card-body {
      height: 200px;
    }
    .card-footer {
      border: none;
      background-color: #f4f4f4;
    }
  
    .btn-edit,
    .btn-delete {
      opacity: 0;
      display: none;
      transition: all 10s;
      width: 50px;
      height: 50px;
      position: absolute;
      border-radius: 100%;
    }
  
    .btn-edit {
      left: -5%;
      top: -5%;
    }
    .btn-delete {
      right: -5%;
      top: -5%;
    }
    &:hover .btn-delete,
    &:hover .btn-edit {
      display: block;
      opacity: 1;
    }
  }
  
  .btn {
    display: inline-flex;
    align-items: center;
  }
  
  // .progress {
  //   background-color: #d8d8d8;
  //   border-radius: 20px;
  //   position: relative;
  //   margin-left: auto;
  //   margin-top: 20px;
  //   margin-right: auto;
  //   height: 30px;
  //   width: 90%;
    
  // }
  
  // .progress-done {
  //   background: linear-gradient(to left, #ff6b24, #ff7b50);
  //   box-shadow: 0 3px 3px -5px #ff6b24, 0 2px 5px #ff7b50;
  //   border-radius: 20px;
  //   color: #fff;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   height: 100%;
  //   width: 0;
  //   opacity: 0;
  //   // transition: 0.2s ease 0.1s;
  // }