.user__description--profile{
    width: 94%;
    margin: 16px auto;

    &_contain{
        padding-bottom: 18px;    
        border-bottom: 1px solid #dadada;   

        &__brief{
            font-size: 18px;
            color: #313131;
            font-weight: 500;
        }
        &__manage{
            font-size: 14px;
            font-weight: 400;
            color: #7c7c7c;
          
        }

    }
    &_change{
        margin-top: 24px;
        display: flex;

        &__form{          
            width: 68%;
        }
        &__image{
           
            margin: 60px 0 0 100px;
        }

    }
}
.form{
    
    &__name--sign{
        display: flex;
        margin-bottom: 28px;
    }
    &__name--title{
        width: 160px;
        text-align: right;
        color: rgba(85,85,85,.8);
        font-weight: 400;
        align-items: center;
        margin-top: 4px;
      
    }
    &__name--sign-in{
        margin-left: 30px;
        margin-top: 6px;
        font-size: 14px;
    }
    &__name{
          
        display: flex;
         
    }
    &__name--input{
        padding-left: 4px;
        margin-left: 30px;
        border-radius: 2px;       
        width: 68%;
        height: 34px;
        color: #292929;
        outline:  1px solid rgba(0,0,0,0.1);
        border: 1px solid rgba(0,0,0,0.1);
        &:focus{          
            outline:  1px solid rgba(0,0,0,0.25);
            border: 1px solid rgba(0,0,0,0.25);
        }
      
    }
    &__email{
        margin-top: 28px;
        display: flex;
    }
    &__email--title{
        width: 160px;
        text-align: right;
        color: rgba(85,85,85,.8);
        font-weight: 400;
        align-items: center;
        margin-top: 4px;
    }
    &__email--text{
        margin-left: 30px;
        margin-top: 4px;
        &-link{
            text-decoration: none;
            margin-left: 10px;
        }
        & a{
            text-decoration: none;
        }
    }
    &__phone{
        margin-top: 26px;
        display: flex;
    }
    &__phone--title{
        width: 160px;
        text-align: right;
        color: rgba(85,85,85,.8);
        font-weight: 400;
        align-items: center;
        margin-top: 4px;
    }
    &__phone--text{
        margin-left: 30px;
        margin-top: 4px;
        &-link{
            text-decoration: none;
            margin-left: 10px;
        }
        & a{
            text-decoration: none;
        }
    }
    &__name--shope{
        margin-top: 24px;
        display: flex;
    }
    &__name--shope_title{
        width: 160px;
        text-align: right;
        color: rgba(85,85,85,.8);
        font-weight: 400;
        align-items: center;
        margin-top: 4px;
      
    }
   &__sex{
       margin-top: 28px;
       display: flex;
   }
   &__sex--title{
    width: 160px;
    text-align: right;
    color: rgba(85,85,85,.8);
    font-weight: 400;
    align-items: center;
    margin-top: 4px;
   }
   &__sex--checkbox{
       margin-left: 30px;
   }
   &__born{
    margin-top: 18px;
    display: flex;

   }
   &__born--title{
    width: 160px;
    text-align: right;
    color: rgba(85,85,85,.8);
    font-weight: 400;
    align-items: center;
    margin-top: 4px;

   }
   &__born--select{
    margin-left: 30px;
    display: flex;
  
    & select{
         &:not(:first-child){
             margin-left: 10px;
         }         
        width: 120px;                  
    }

   }
   &__button{
       margin-top: 30px;
       margin-left: 190px;
       border: none;
       padding: 6px 20px;
       background-color: #ee4d2d;
       color: #fff;
       box-shadow: 0 0 4px rgba(0,0,0,0.2);
       border-radius: 2px;

   }
 
}

.form-check-input:checked {
    background-color: #ee4d2d;
    border-color: #ec3d3d;
}
.form-check-input:focus {
    border-color: #ec3d3d;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(238, 15, 15, 0.473);
}
.form-select:focus {
    border-color: rgba(0,0,0,0.4);
    outline: none;
    box-shadow:none;
}
.profile__box{
    width: 100%;
    position: relative;
    &--image{
        width: 60%;
        margin-left: 12px;
        border-radius: 50%;
    }
    &--file{
        cursor: pointer;
        margin-top: 14px;
        margin-left: 32px;
        margin-bottom: 10px;
        padding: 4px 8px;
        border: 1px solid rgba(0,0,0,0.1);
        color: #292929;
       
    }
    &--text{
        width: 100%;
        font-size: 14px;
        color: #7c7c7c;
    }
    &::before{
        content: '';
        position: absolute;
      top: 0;
      left: -50px;
      width: 1px;
      height: 100%;
      background-color:  rgba(0,0,0,0.1);
    }
}