.product__main--carousel{
    &-slide{
        height: 555px;
        & button[type="button"]{
            width: 10px;
            height: 10px;
            border-radius: 50%;
        }
        & .carousel{
          & img{
              width: 100%;
              height: 555px;

          }
        }
    }
    &-commented{
        display: flex;
    }
}