.header{
    height: $header-height + 1rem;
    background-image: linear-gradient(0,#fe6433,#f53e2d);
    padding: 1rem;
    &__navbar{
        display: flex;
        height: $navbar-height;
        justify-content: space-between;
        &-list{
            list-style: none;
        }
        &-item,&-item-link{
            display: inline-block;
            font-size: 1.6rem;
            color:$white-color;
            text-decoration: none;
            font-weight: 300;
            &:hover{
                cursor: pointer;
                color: rgba(255,255,255,0.7);
            }
        }
      
        &-item{
            margin: 0 0.8rem;
            position: relative;
            &--strong{
                font-weight: 400;
            }
            &--separate::after{
                content: "";
                display: block;           
                width: 1px;
                height: 1.4rem;
                background-color: #FB9086;
                 @include absCenter;
            }
            &--has-qr:hover .header__qr{
             display: block;
            }
        }
        &-icon-link{
            color: $white-color;
            text-decoration: none;
            margin: 0.4rem;
            align-items: center;
            justify-content: center;
            &:hover{
                cursor: pointer;
                color: rgba(255,255,255,0.7);
            }
        }
        &-icon{
            font-size: 1.8rem;
        }
        &-title--no-pointer{
            cursor: text;
            color: $white-color;
        }
    }

    &__qr{
        width: 15.6rem;
        background-color: $white-color;
      position: absolute;
      left: 0;
      top: 140%;
      padding: 4px;
      border-radius: 2px;
      display: none;    
      animation:fadeIn ease-in 0.4s;
      &::before{
          content: "";
          display: block;
          position: absolute;
          left: 0;
            top: -1rem;
          width: 100%;
          height: 2rem;        
        
      }
        &-img{
     width: 100%;
        }
        &-apps{
            display: flex;
            justify-content: space-between;
        }
        &-link{
            &:first-child{
                margin-left: 1.1rem;
            }
            &:last-child{
                margin-right: 1.1rem;
            }
        }
        &-download-img{
            height: 1.4rem;
        }

    }
  &__with-search{
   height: ($header-height - $navbar-height);
   display: flex;
   align-items: center;
   margin: 0 8px;
  }
  &__logo{
      width: 20rem;
       
      padding-right: 4rem;
     
      &-img{
          width: 15rem;
 
      }
  }
  &__search{
      display: flex;
      width: 80%;
     height: 3.6rem;
     border-radius: 4px;
     background-color: $white-color;
     &-input{
         flex: 1;
         width: 100%;
         height: 100%;
         border: none;
         outline: none;
           font-size: 1.4rem;
           color:#333 ;
           padding: 0 1.6rem;
           border-radius: 4px;
     }
     &-btn{
         background-color: $primary-color;
         
         border: none;
          margin-top:auto ;
          margin-bottom: auto;
         height: 3rem;
         width: 5.2rem;
         margin-right: 4px;
         border-radius: 4px;
         z-index: 4;
         &-icon{
             font-size: 1.8rem;
             color: $white-color;
         }
         &:hover{
            cursor: pointer;
             background-color: #fb8973;
         }
     } 

  }
  &__cart{
      width: 15rem;
      text-align: center;
      &-icon{
          margin-top: 0.6rem;
          font-size: 2.6rem;
          color: $white-color;
         
      }
    
      &-list--no-cart .header__cart-no-cart-img,
      &-list--no-cart .header__cart-list-no-cart-msg
      {
        margin-left: auto;
        margin-right: auto;
          display: block;
      }
     
      &-wrap{         
        position: relative;
        display: inline-block;
        padding: 0 1.2rem;
        cursor: pointer;
        &:hover .header__cart-list{
            display: block;
    
        }
      }
      &-list{
          position: absolute;
          top: 110%;
          right: -1.8rem;
          background-color: $white-color;
          width: 40rem;
          border-radius: 4px;
          box-shadow: 0 1px 3.125rem rgba(0,0,0,0.2);
        //  display: none;
          &--no-cart{
              padding: 24px 0;
          }
          &::after{
            content: "";
            position: absolute;
            right:1.6rem;
            top:-2.8rem;
            border-width:2rem 2.6rem ;
            border-style:solid ;
            border-color: transparent transparent $white-color transparent;
        }
      }
      &-no-cart-img{
          display: none;
          width: 54%;
      }
      &-list-no-cart-msg{

          display: none;
          font-size: 1.4rem;
          margin-top: -2rem;
          color: #333;
      }
     &-notice{
         position: absolute;
         padding: 2px 4px;

         font-size: 1.4rem;
         right:0.6rem;
         top:-2px;
         line-height: 1.2rem;
         border-radius: 50%;
         border: 2px solid $primary-color;
         background-color: $white-color;
         color: $primary-color;

     }
    
  }
}