.home__article{
    &--category{
        width: 1200px;
        height: 340px;
        background-color: #fff;
        margin: 0 auto;
        margin-top:1.2em ;   
        position: relative;
          &-title{
              width: 100%;
              height: 50px;
              
           & h2{
              padding-left:16px ;
               line-height: 50px;
               font-size: 20px;
               font-weight: 300;
               text-transform: uppercase;
           }
          }
        &-arrow_left{
           top: 57%;
            left: -10px;
            transform: translateY(-50%);
            width: 30px;
            height: 30px;
            position: absolute;
            background-color: #fff;
            border: 1px solid rgba(0,0,0,0.2);
            border-radius:50% ;
            outline: none;
            opacity: 0.9;         
            z-index: 3;
            transition: all 0.5s;
            
            display: none;
         
        }
        &-arrow_right{
           top: 57%;
           right: -10px;    
           transform: translateY(-50%);   
           width: 30px;
           height: 30px;
           position: absolute;
           background-color: #fff;
           border: 1px solid rgba(0,0,0,0.2);
           border-radius:50% ;
           outline: none;
           opacity: 0.9;         
           z-index: 3;
           transition: all 0.5s;
        
           display: none;
        
       }
       &-arrow_right.active{
        box-shadow: 0 1px 5px rgba(0,0,0,0.15);
           display: block;
       }
       &-arrow_left.active{
        box-shadow: 0 1px 5px rgba(0,0,0,0.15);
           display: block;
       }
        &:hover .home__article--category-arrow_left{
           width: 40px;
           height: 40px;
           left: -16px;
           border: 1px solid rgba(0,0,0,0.4);
       }
       &:hover .home__article--category-arrow_right{
           width: 40px;
           height: 40px;
           right: -16px;
           border: 1px solid rgba(0,0,0,0.4);
       }
      &-box{
             width: 1200px;
             height: 290px;
             overflow-x: hidden;              
         }
         
         &-carousel{
             width: 130%;
             display: flex;
             list-style: none;
             padding: 0;
             margin: 0;              
          &_item{
                
                 width: 120px;
                 height: 290px;     
                 box-sizing: border-box;
                 display: flex;
                 flex-direction: column; 
              &   img{
                margin: 8px auto 0; 
                width: 83px;
                height: 88px;
                position: relative;
             
              }              
              &__frames{
                  
                     text-decoration: none;
                     color: rgb(78, 78, 78);
                     width: 120px;
                     height: 50%;
                     border: 1px solid rgba(0,0,0,0.1);
                     transition: all 0.2s;
                     display: flex;
                     flex-direction: column;
                     
                     transform: translate(0,0);
                     transition: all 0.5s;   
                   &.active{
                       transform: translate(-300%,0);
                   }         
                     
                   &:hover{
                       box-shadow: 0 0 6px rgba(0,0,0,0.2);
                       color: rgb(68, 68, 68);
                     }                                    
                   & span{
                        margin-top: 2px;
                         text-align: center;
                         font-size: 14px;
                         font-weight: 400;
                     }
                 }
   
             }
         }
       }
}