.home__article{
    &--simple{
        background-color: #fff;
        width: 1200px;
        margin: 24px auto 0;
        height: 537px;
        display: flex;
        flex-direction: column;
        box-shadow: 0 1px 2px rgba(0,0,0,0.1);
        &-title{
            margin: 0 auto;
            padding-top:20px ;
            width: 100%;
            height: 60px;
            display: flex;
            border-bottom: 1px solid rgba(0,0,0,0.1);
            &_box{
                margin-left: 20px;
                width: 87%;
                display: flex;


                &__header{
                    margin-right: 12px;
                    font-size: 18px;
                    font-weight: 400;
                    color: #d0011b;
                    position: relative;
                  &::after{
                      content: '';
                      width: 2px;
                      height: 70%;
                      position: absolute;
                      top: 0;                      
                      right: -20px;
                      background-color: #eee;
                  }
                }
                &__text{
                    margin: 0 14px;
                    display: flex;

                  &-image{
                      margin-right: 6px;
                    width: 20px;
                    height: 20px;
                  }
                  &-content{
                    
                     font-size: 15px;
                  }
                }

            }
            &_show{            
                display: flex;
                color: #d0011b;              
                & .icon{
                    margin-left: 4px;
                    font-size: 14px;
                    margin-top:4px ;
                }
            }
        }
        &-carousel{
            margin-top: 6px;
            display: flex;
            &_left{
                background-size: contain;
                overflow: hidden;
                width: calc(1200px / 3);
                 height: 470px;
               & button[type="button"]{
                   border-radius:50% ;
                   width: 10px;
                   height: 10px;
               }
            }
            &_right{
                width: calc(1200px - 1200px / 3);
                 height: 470px;
                 background-color: #fff;
                 position: relative;
                 &__arrow-left{
                    top: 51%;
                     left: -16px;
                     transform: translateY(-50%);
                     width: 30px;
                     height: 30px;
                     position: absolute;
                     background-color: #fff;
                     border: 1px solid rgba(0,0,0,0.2);
                     border-radius:50% ;
                     outline: none;
                     opacity: 0.9;         
                     z-index: 3;
                     transition: all 0.5s;                     
                     display: none;                  
                 }
                 &__arrow-right{
                    top: 51%;
                    right: -16px;    
                    transform: translateY(-50%);   
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    background-color: #fff;
                    border: 1px solid rgba(0,0,0,0.2);
                    border-radius:50% ;
                    outline: none;
                    opacity: 0.9;         
                    z-index: 3;
                    transition: all 0.5s;                 
                    display: none;                 
                }
                &__arrow-right.active{
                    box-shadow: 0 1px 5px rgba(0,0,0,0.15);
                       display: block;
                   }
                &__arrow-left.active{
                    box-shadow: 0 1px 5px rgba(0,0,0,0.15);
                       display: block;
                   }
                   &:hover .home__article--simple-carousel_right__arrow-left{
                    width: 40px;
                    height: 40px;
                    left: -20px;
                    border: 1px solid rgba(0,0,0,0.4);
                }
                &:hover .home__article--simple-carousel_right__arrow-right{
                    width: 40px;
                    height: 40px;
                    right: -20px;
                    border: 1px solid rgba(0,0,0,0.4);
                }
                &__box{
                    width: 800px;
                    height: 470px;
                    overflow-x: hidden;              
                }
                &__scroll-lists{
                    width: 200%;
                    display: flex;
                    list-style: none;
                    padding: 0;
                    margin: 0;  
                    &--item{
                        width: 200px;
                        height: 470px;     
                        box-sizing: border-box;
                        display: flex;
                        flex-direction: column;    

                        &_frames{
                            text-decoration: none;
                            color: rgb(78, 78, 78);
                            width: 200px;
                            height: 50%;                            
                            transition: all 0.2s;
                            display: flex;
                            flex-direction: column;       
                            transform: translate(0,0);
                            transition: all 0.5s;
                            &.active{
                                transform: translate(-400%,0);
                            }  
                            &__image-top--1{
                                margin: 8px auto 0; 
                                width: 180px;
                                height: 190px;
                                background-image: url('https://cf.shopee.vn/file/d201ba9613b63a2a02eef5a6a4a9ced4_xhdpi');
                                background-repeat: no-repeat;
                                background-size: contain;
                                position: relative;
                               }
                            &__image-bottom--1{
                              margin: 8px auto 0; 
                              width: 180px;
                              height: 190px;
                              background-image: url('https://cf.shopee.vn/file/07b2cd8a305402e7172b67d4c9070b17_xhdpi');
                              background-repeat: no-repeat;
                              background-size: contain;
                              position: relative;
                            }  
                            &__image-top--2{
                                margin: 8px auto 0; 
                                width: 180px;
                                height: 190px;
                                background-image: url('https://cf.shopee.vn/file/a3b24d7faf4e477566c9762871013669_xhdpi');
                                background-repeat: no-repeat;
                                background-size: contain;
                                position: relative;
                               }
                            &__image-bottom--2{
                              margin: 8px auto 0; 
                              width: 180px;
                              height: 190px;
                              background-image: url('https://cf.shopee.vn/file/99e07615693bb7327f03164806345eca_xhdpi');
                              background-repeat: no-repeat;
                              background-size: contain;
                              position: relative;
                            }
                            &__image-top--3{
                                margin: 8px auto 0; 
                                width: 180px;
                                height: 190px;
                                background-image: url('https://cf.shopee.vn/file/13b13446ba62038de60bb049fa4ba11a_xhdpi');
                                background-repeat: no-repeat;
                                background-size: contain;
                                position: relative;
                               }
                            &__image-bottom--3{
                              margin: 8px auto 0; 
                              width: 180px;
                              height: 190px;
                              background-image: url('https://cf.shopee.vn/file/2485683bd0f0eb932b7b056db3d795d8_xhdpi');
                              background-repeat: no-repeat;
                              background-size: contain;
                              position: relative;
                            } 
                            &__image-top--4{
                                margin: 8px auto 0; 
                                width: 180px;
                                height: 190px;
                                background-image: url('https://cf.shopee.vn/file/1affc00dfd69ef4655c96fde9bdbfe56_xhdpi');
                                background-repeat: no-repeat;
                                background-size: contain;
                                position: relative;
                               }
                            &__image-bottom--4{
                              margin: 8px auto 0; 
                              width: 180px;
                              height: 190px;
                              background-image: url('https://cf.shopee.vn/file/cd87b35a9bc32ddf59024a8339aef4a6_xhdpi');
                              background-repeat: no-repeat;
                              background-size: contain;
                              position: relative;
                            }  
                            &__image-top--5{
                                margin: 8px auto 0; 
                                width: 180px;
                                height: 190px;
                                background-image: url('https://cf.shopee.vn/file/ae84a92ed8e4d399ae927c78a1410fe8_xhdpi');
                                background-repeat: no-repeat;
                                background-size: contain;
                                position: relative;
                               }
                            &__image-bottom--5{
                              margin: 8px auto 0; 
                              width: 180px;
                              height: 190px;
                              background-image: url('https://cf.shopee.vn/file/93255b05c68d1024a8e4dab100efdcbd_xhdpi');
                              background-repeat: no-repeat;
                              background-size: contain;
                              position: relative;
                            }   
                            &__image-top--6{
                                margin: 8px auto 0; 
                                width: 180px;
                                height: 190px;
                                background-image: url('https://cf.shopee.vn/file/https:/cf.shopee.vn/file/6469e30ffbf6ecf04efc183a7d8d0cd7_xhdpi');
                                background-repeat: no-repeat;
                                background-size: contain;
                                position: relative;
                               }
                            &__image-bottom--6{
                              margin: 8px auto 0; 
                              width: 180px;
                              height: 190px;
                              background-image: url('https://cf.shopee.vn/file/14b27731b86839e5a9ed5592cd28a427_xhdpi');
                              background-repeat: no-repeat;
                              background-size: contain;
                              position: relative;
                            }   
                            &__image-top--7{
                                margin: 8px auto 0; 
                                width: 180px;
                                height: 190px;
                                background-image: url('https://cf.shopee.vn/file/639760ee84d367ea249cc724adf415b3_xhdpi');
                                background-repeat: no-repeat;
                                background-size: contain;
                                position: relative;
                               }
                            &__image-bottom--7{
                              margin: 8px auto 0; 
                              width: 180px;
                              height: 190px;
                              background-image: url('https://cf.shopee.vn/file/1662b7b0536b76d8494962a3e1636772_xhdpi');
                              background-repeat: no-repeat;
                              background-size: contain;
                              position: relative;
                            }   
                            &__image-top--8{
                                margin: 8px auto 0; 
                                width: 180px;
                                height: 190px;
                                background-image: url('https://cf.shopee.vn/file/https:/cf.shopee.vn/file/ea507ee06252bb4c0d90eed99c1db288_xhdpi');
                                background-repeat: no-repeat;
                                background-size: contain;
                                position: relative;
                               }
                            &__image-bottom--8{
                              margin: 8px auto 0; 
                              width: 180px;
                              height: 190px;                             
                              position: relative;
                            }                           

                            & span{
                                position: absolute;
                                bottom: 16%;
                                left: 0;
                                width: 91%;
                                height: 27px;                              
                                 text-align: center;
                                 font-size: 16px;
                                 color: #d0011b;
                                 font-weight: 400;
                             }
                        }
                    }
                }

            }
        }
    }
}